body {
    background-color: rgb(255, 214, 127);
    font-size: large;
    
}

.firstrow, .secROW, .thiROW, .fouROW, .fiROW, .siROW {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
}

.firstrow > div, .secROW > div, .thiROW > div, .fouROW > div, .fiROW > div, .siROW > div {
    display: flex;
    border: 1px solid black;
    margin: 1px;
    flex-basis: calc(14.28% - 2px); /* Distribute containers evenly across the available space */
    box-sizing: border-box;
    padding: 15px;
}
